<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_InfoService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4501/projem/InfoPRojeService/"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_InfoService"
          contract="InfoService" name="WSHttpBinding_InfoService">
        <identity>
          <userPrincipalName value="DESKTOP-5812AV6\gecic" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>